<h1>Viewing Party Lite</h1>
<%= link_to "Log In", "/login" %>
<%= button_to "Create User", "/register", method: :get %>

<% @users.each do |user| %>
  <h3><%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %></h3>
<% end %>
