<h1>Discover Movies</h1>

<%= form_with url: "movies", method: :get, local: true do |f|%>
  <%= f.text_field :q %>
  <%= f.submit "Find Movies" %>
<% end %>

<%= button_to "Top Rated Movies", "movies", method: :get, params: {:q => 'top_20_rated'} %>
